{% extends "layout.html" %}
{% block content %}
<div class='content-section'>
  <h2 class="account-heading">About This Site</h2>
  <p class="text-secondary">A Blog Space and Portfolio for Michael Garlotte</p>
  <br>
  <br>
  <p class="article-content">This Github repository is the home of the michaeljgarlotteii.com blog/portfolio site created in python and Flask. In this repository you can find all of the open source code for the site as well as some detail as to how the site came to be.</p>

  <p class="article-content">I started work on this site to give myself something to do during the worldwide standstill created by the COVID-19 crisis. I wanted to get more practice with Full-Stack Web Development so I decided to build and host my own web server with python and Flask. I initially followed a YouTube tutorial to learn many of the basics and get the framework of the site built. That series can be found at the following url:
  <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH">Tutorial Link Here</a></p>

  <p class="article-content">Once I got the framework built, I wanted to host it. However, I had no previous experience with domain's or cloud hosting. That sent me to my friend James, who you will see as a collaborator in this repository. We hosted the site on GCP(Google Cloud Platform) and I got a very cheap domain from GoDaddy. Before we could get it up and running however, we decided we should Dockerize the web server so I could get more experience with Docker. After some trials, we got it running and connected to the domain that it currently resides at, michaeljgarlotteii.com:5000.</p>
  <br>
  <br>
  <p class="text-secondary"><a href="https://github.com/MichaelJGarlotteII/testProject/">The GitHub repository for this site.</a></p>
  <p class="article-content">The following is the GitHub repsoitory for this server/site. I'll likely be updating the README evertime a change is pushed to it so for the most up to date details about whats currently being developed and whats in production, it would be best to check it out there!</p>
</div>
{% endblock content %}
